<div class="d-flex justify-content-center">
  
    <div class="card text-black" style="width: 18rem;">
      <li class="list-group-item text-center">ID: {{this.cocktail.id}}</li>
      <h5  class="h3 card-title text-center text-uppercase">{{this.cocktail.nome}}</h5>
        <img class="card-img-top rounded-circle" src={{this.cocktail.immagine}} alt="Card image cap">
        <div class="card-body">
          <span class=" h5">Tutorial: </span>
          <p class="card-text">{{this.cocktail.ricetta}}</p>
        </div>
        <ul class="list-group list-group-flush">
    
        </ul>
        <a href="" style="text-decoration: none;" class="text-center card-link text-uppercase" [routerLink]="['/']">Torna alla Home</a>
      </div>
    
</div>


