<mat-toolbar id="menuBar" class="menubar-footer" >
    <span class="titoloApp">{{"GENERALE.Titolo" | translate}}</span>
    <div id="mostraselect" class="box p-4">
        <div class="">
            <select #valSel (change)="menuBar(valSel.value)" class="form-select" aria-label="Default select example">
                <option disabled selected>User</option>
                <option value="login">{{ "GENERALE.Accedi" | translate }}</option>
                <option value="registrazione">{{ "GENERALE.Registrazione" | translate }}</option>
            </select>
        </div>
    </div>

    <a (click)="menuBar('login')" id="nascondiLogin" *ngIf="logIN$ | async"
        class="nav-item nav-link active padding accedi" routerLink="" routerLinkActive="active">{{ "GENERALE.Accedi" |
        translate }} </a>
    <a (click)="menuBar('registrazione')" id="nascondiSignin" *ngIf="logIN$ | async"
        class="nav-item nav-link active padding" routerLink="" routerLinkActive="active">{{ "GENERALE.Registrazione" |
        translate }}</a>
    <a (click)="menuBar('dashboard')" class="nav-item nav-link active padding" routerLink=""
        routerLinkActive="active">{{"GENERALE.Dashboard" | translate}}</a>
    <a (click)="menuBar('clienti')" class="nav-item nav-link active padding" routerLink="" routerLinkActive="active">
        {{"GENERALE.Clienti" | translate}} </a>

    <span class="example-spacer"></span>

    <button (click)="menuBar('profilo')" *ngIf="logOUT$ | async" mat-icon-button>
        <mat-icon fontIcon="account_circle"></mat-icon>
    </button>
</mat-toolbar>