.cont {
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: 2%;
    margin-right: 2%;
    height: 75%;
}

.profilo {
    flex: 0.75;
    padding-left: 10%;
}
.vuoto {
    flex: 0.25;
}

.dati {
    flex-direction: column;
    display: flex;
    padding-block: 10%;
}
.dato {
    padding-top: 2%;
}

.bottone {
    width: 50%;
    margin-top: 10%;
}