<div class="cont">
    <div class="profilo">
        <h3>{{"GENERALE.Profilo" | translate}} {{utente?.nomeUtente}}</h3>

        <div class="dati">
            <h5 class="dato">{{"REGISTRAZIONE.NomeUtente" | translate}} : {{utente?.nomeUtente}}</h5>
            <h5 class="dato">{{"REGISTRAZIONE.Email" | translate}} : {{utente?.email}}</h5>
            <h5 class="dato">{{"REGISTRAZIONE.DataNascita" | translate}} : {{utente?.dataNascita | date: 'dd-MM-yyyy' }}</h5>
            <button class="bottone" mat-raised-button color="warn" (click)="logout()">{{"GENERALE.Esci" | translate}}</button>
        </div>
    </div>
    <div class="vuoto">

    </div>
</div>

