.cont {
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding: 3%;
}

.profilo {
    margin-left: 10%;
    margin-bottom: 3%;
}
.calendario {
    width: 75%;
}

.dati {
    flex-direction: column;
    display: flex;
}
.dato {
    padding-top: 2%;
}

.bottone {
    width: 50%;
    margin-top: 10%;
}
.profilo-style{

    border-radius: 3%;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
    
}
