<div class="container text-black">
    <div class="row  justify-content-center pt-5">
        <div class="col-md-6">
            <div class="card ">
                <div class="text-center text-black">
                    <h1>{{"GENERALE.Accedi" | translate}}</h1>
                    <h6>{{"ACCESSO.TestoEmailPassword" | translate}}</h6>
                    <hr class="border border-primary border-3 opacity-75">
                </div>
                <form class="m-3" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="mb-3 form-outline">
                        <input formControlName="email" placeholder="{{'GENERALE.PlaceHolderEmail' | translate}}" type="email" class="form-control"
                            id="exampleInputEmail1" aria-describedby="emailHelp">
                        <p style="color: red;" *ngIf="!loginForm.controls['email']?.valid && loginForm.controls['email']?.touched">{{"GENERALE.EmailNonValido" | translate}}</p>
                    </div>
                    <div class="mb-3">
                        <input formControlName="password" placeholder="{{'GENERALE.PlaceHolderPassword' | translate}}" type="password"
                            class="form-control" id="exampleInputPassword1">
                        <p style="color: red;" *ngIf="!loginForm.controls['password']?.valid && loginForm.controls['password']?.touched">{{"GENERALE.PasswordNonValido" | translate}}</p>
                    </div>
                    <button type="submit" class="btn  w-100 btn-primary block"
                        [disabled]="!loginForm.valid">{{"GENERALE.Accedi" | translate}}</button>
                </form>
                <a routerLink="/registrazione" class="justify-content-end"> {{"ACCESSO.LinkNuovoUtente" | translate}}</a>
            </div>
        </div>
    </div>
</div>