<div class="card" style="width: 18rem; color: black ; align-items: center;text-align: center;">
    <div class="card-body">
        <h5 class="card-title">Registrazione</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="nomeUtente">Nome Utente</label>
                <input name="nomeUtente" type="text" placeholder="inserire nome" formControlName="nomeUtente">
            </div>
            <div>
                <label for="password">Password</label>
                <input name="password" type="password" placeholder="inserire password" formControlName="password">
            </div>
            <div>
                <label for="indirizzoEmail">Indirizzo Email</label>
                <input type="text" name="indirizzoEmail" placeholder="inserire e-mail" formControlName="email">
            </div>
            <div>
                <label for="dataNascita">Data di nascita</label>
                <br>
                <input type="date" name="dataNascita" formControlName="dataNascita">
            </div>
            <div>
                <div style="margin: 2%;" class="alert alert-danger" role="alert" *ngIf="!form.valid">Form non valido,inserire tutti i campi</div>
            </div>
            <div>
                <button style="margin: 3%;" type="submit" class="btn btn-success"
                    [disabled]="!form.valid">Registrati</button>
            </div>
        </form>
    </div>
</div>