<div class="container text-black">
  <div class="row  justify-content-center pt-5">
    <div class="col-md-6">
      <div class="card ">
        <div class="text-center text-black">
          <h1>{{"GENERALE.Registrazione" | translate}}</h1>
          <hr class="border border-primary border-3 opacity-75">
        </div>
        <form [formGroup]="form" (ngSubmit)="registrer()" class="m-3">
          <div class="form-row">
            <div class="form-group">
              <div class="form-group">
                <label for="nomeUtente">{{"REGISTRAZIONE.NomeUtente" | translate}}</label>
                <input class="form-control" type="text" class="form-control" placeholder="{{'GENERALE.PlaceHolderNomeUtente' | translate}}"
                  formControlName="nomeUtente">
                <p class="formNonValido" *ngIf="!form.controls['nomeUtente']?.valid && form.controls['nomeUtente']?.touched">{{"GENERALE.NomeUtenteNonValido" | translate}}</p>
              </div>
              <label for="indirizzoEmail">{{"REGISTRAZIONE.Email" | translate}}</label>
              <input class="form-control" type="email" class="form-control" name="indirizzoEmail"
                placeholder="{{'GENERALE.PlaceHolderEmail' | translate}}" formControlName="email">
              <p class="formNonValido" *ngIf="!form.controls['email']?.valid && form.controls['email']?.touched">{{"GENERALE.EmailNonValido" | translate}}</p>
            </div>
            <div class="form-group">
              <label for="inputPassword4">{{"REGISTRAZIONE.Password" | translate}}</label>
              <input class="form-control" type="password" class="form-control" id="inputPassword4"
                placeholder="{{'GENERALE.PlaceHolderPassword' | translate}}" formControlName="password">
              <p class="formNonValido" *ngIf="!form.controls['password']?.valid && form.controls['password']?.touched">{{"GENERALE.PasswordNonValido" | translate}}</p>
            </div>
          </div>
          <div class="pb-3">
            <label for="dataNascita">{{"REGISTRAZIONE.DataNascita" | translate}}</label>
            <br>
            <input class="form-control" type="date" name="dataNascita" formControlName="dataNascita"
              (input)="checkYear()" class="form-control" formControlName="dataNascita">
            <p class="formNonValido" *ngIf="!form.controls['dataNascita']?.valid && form.controls['dataNascita']?.touched">{{"GENERALE.DataNascitaNonValido" | translate}}</p>
          </div>
          <button [disabled]="!form.valid" type="submit" class=" btn w-100 btn-primary">{{"GENERALE.Registrazione" | translate}}</button>
        </form>
      </div>
    </div>
  </div>
</div>