
<div class="container mt-3">

    <form [formGroup]="inserimentoProdotti" (ngSubmit)="inserisciProdotti()">
        <div class="row">

            <div *ngIf="alertConfermaProdotto" class="alert alert-success ">
                Il prodotto è stato inserito con successo!
            </div>

            <div class="mb-3 col-md-3">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="nome" formControlName="nome">
            </div>
            <div class="mb-3 col-md-5">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="descrizione" formControlName="descrizone">
            </div>
            <div class="mb-3 col-md-2">
                <input type="number" step="0.01" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="prezzo" formControlName="prezzo">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn  w-100 btn-primary block"
                    [disabled]="inserimentoProdotti.invalid || possessori.length === 0">Inserisci</button>
            </div>

           <div class="cont">
            <div cdkDropListGroup>

                <div class="example-container">
                    Possessori
                    <div cdkDropList [cdkDropListData]="possessori" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div  class="example-box" *ngFor="let item of possessori" cdkDrag
                            >{{item}}</div>
                    </div>
                </div>

                <div class="example-container">
                    Utenti
                    <div cdkDropList [cdkDropListData]="nomiUtenti" class="example-list"
                        (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let item of nomiUtenti" cdkDrag>{{item}}</div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>