<!-- <div class="parent">
   
</div>
 -->
<div class="container mt-3 ">

   

    <form [formGroup]="inserimentoProdotti" (ngSubmit)="inserisciProdotti()">
        <div class="row">


        <div *ngIf="alertConfermaProdotto" class="alert alert-success ">
            Il prodotto è stato inserito con successo!
        </div>
           

            <div class="mb-3 col-md-3">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="nome" formControlName="nome">
            </div>
            <div class="mb-3 col-md-5">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="descrizione" formControlName="descrizone">
            </div>
            <div class="mb-3 col-md-2">
                <input type="number" step="0.01" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="prezzo" formControlName="prezzo">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn  w-100  block"
                    [disabled]="inserimentoProdotti.invalid">Inserisci</button>
            </div>

           <section class="section ">
                <label formArrayName="clienti" *ngFor="let order of clientiFormArray.controls; let i = index">
                    <input type="checkbox" [formControlName]="i">
                    {{clientiData[i]}} &nbsp;&nbsp;&nbsp;
                  </label>
           </section> 

           

        </div>
    </form>
</div>