<!-- <div class="parent">
   
</div>
 -->
<div class="container">
    <form [formGroup]="insermimentoProdotti" (ngSubmit)="inserisciProdotti()">
        <div class="row">

            <div class="mb-3 col-md-3">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp" placeholder="nome"
                    formControlName="nome">
            </div>
            <div class="mb-3 col-md-5">
                <input type="text" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="descrizione" formControlName="descrizone">
            </div>
            <div class="mb-3 col-md-2">
                <input type="number" step="0.01" class="form-control" id="nomeProdotto" aria-describedby="emailHelp"
                    placeholder="prezzo" formControlName="prezzo">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn  w-100 btn-primary block"
                    [disabled]="insermimentoProdotti.invalid">Inserisci</button>
            </div>
        </div>
    </form>
</div>