

.container-btn-del-edit {
  float: inline-start; 
  flex : 0.25;
  flex-direction: row;
  display: flex;
}

.formModificaMobile{
  float: inline-start; 
  flex : 0.5;
  flex-direction: column;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.inputMobile {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}




@media only screen and (min-width:426px) {

  #mobile {

      display: none;

  }

  #web {
    display: inline;
  }

}

@media only screen and (max-width: 427px) {

  #mobile {

      display: inline;

  }

  #web {
    display: none;
  }

}

.example-accordion {
  display: block;

  
}

.example-accordion-item {
  display: block;
  border: solid 1px #ccc;
}

.example-accordion-item + .example-accordion-item {
  border-top: none;
}

.example-accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.example-accordion-item-description {
  font-size: 0.85em;

  align-items: flex-end;
}

.example-accordion-item-header,
.example-accordion-item-body {
  padding: 16px;
  width: 390px;
  overflow-wrap: break-word;
  
}

.example-accordion-item-header:hover {
  cursor: pointer;

}

.example-accordion-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
