/* You can add global styles to this file, and also import other style files */

@media screen and (max-width:390px) {
  body {
    display: flex;
    flex: 1;
    width: 100%;
  }
}
@media screen and (max-height : 844px) {
  .light-mode {
    min-height: 844px !important;
  }
}

.provaBody{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.light-mode {
  background-color: #F5EBE0 !important;
  background-image: url("src/app/img/light-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1d3557;
  min-height: 1200px;

  color: #85586F !important;
  --bs-card-bg: #F5EBE0 !important;
  --bs-body-color: #85586F !important;
}

.light-mode .menubar-footer {
  background-color: #F0DBDB !important;
  color: #85586F !important;
}

.light-mode .bottone :enabled {
  background-color: #F0DBDB;
}

.light-mode .card {
  background-color: #F0DBDB;
}

.light-mode .form-control {
  background-color: #F5EBE0;
  color: #85586F !important;
}

.light-mode .btn {
  color: #85586F !important;
}

.light-mode .example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #F0DBDB !important;
}

.light-mode .btn-danger {
  color: #F0DBDB !important;
}

.light-mode .tabella-style {
  background-color: #f5e0e0d6;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  min-width: 90%;
  align-items: center;
  text-align: center;

}

.light-mode .clienti-style {
  background-color: #F5EBE0d6 !important;
}

.light-mode .profilo-style {
  background-color: #f5ebe0d6 !important;


}

/* darkmode */
.dark-mode {
  background-image: url("src/app/img/dark-img.png");
  min-height: 1200px;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1d3557;

  background-color: #04293A !important;
  color: #F0CAA3 !important;
  --bs-card-bg: #04293A !important;
  --bs-body-color: #F0CAA3 !important;
}

.dark-mode .menubar-footer {
  background-color: #064663 !important;
  color: #F0CAA3 !important;

}

.dark-mode .example-box {
  color: #F0CAA3 !important;
}

.dark-mode .cont {
  color: #F0CAA3
}

.dark-mode .example-box {
  background-color: #064663 !important;
}

.dark-mode .example-list {
  background-color: #064663 !important;
}

.dark-mode .cdk-drag-preview {
  background-color: #064663;
  color: #F0CAA3;
}

.dark-mode .card {
  background-color: #064663;
}

.dark-mode .bottone :enabled {
  background-color: #04293A;
}

.dark-mode .form-control {
  background-color: #04293A;
  color: #F0CAA3 !important;
}

.dark-mode .btn {
  color: #F0CAA3 !important;
}

.dark-mode .example-accordion-item-header:hover {
  cursor: pointer;
  background-color: #064663 !important;
}

.dark-mode .btn-warning {
  color: #064663 !important;
}

.dark-mode .tabella-style {
  background-color: #064663de !important;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: column;
    min-width: 90%;
    align-items: center;
    text-align: center;
  
}

.dark-mode .clienti-style {
  background-color: #064663de !important;
}

.dark-mode .profilo-style {
  background-color: #064663de !important;


}