<div class="list mt-5">
    <cdk-accordion  class="example-accordion clienti-style">
        <cdk-accordion-item *ngFor="let item of users; let index = index;" #accordionItem="cdkAccordionItem"
            class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-' + index"
            [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-' + index">
            <div *ngIf="accordionItem.expanded" class="example-accordion-item-header" (click)="accordionItem.toggle(); closeAccordion()">
                {{ item.nomeUtente }}
                <span class="example-accordion-item-description">
                    <mat-icon >keyboard_arrow_up</mat-icon>
                </span>
            </div>
            <div *ngIf="!accordionItem.expanded" class="example-accordion-item-header" (click)="accordionItem.toggle(); callBody(item) ">
                {{ item.nomeUtente }}
                <span class="example-accordion-item-description">
                    <mat-icon >keyboard_arrow_down</mat-icon>
                </span>
            </div>
            <div class="example-accordion-item-body" role="region"
                [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                [attr.aria-labelledby]="'accordion-header-' + index">
                <ng-container>
                    <div *ngFor="let prod of prodotti; let i=index">
                        <div *ngIf="idProdotti.length > 0" class="prodotto">
                            <div>
                                <p>Nome : {{prod.nome}}</p>
                                <p>Descrizione : {{prod.descrizione}}</p>
                                <p>Prezzo : {{prod.prezzo | currency:'EUR' }}</p>
                            </div>
                        </div>
                        <hr *ngIf="i+1 !== prodotti.length">
                    </div>
                </ng-container>
                <p class="prodotto" *ngIf="prodotti.length === 0">{{caricamento}}</p>
            </div>
        </cdk-accordion-item>
    </cdk-accordion>
</div>